// Change variables here
$hr-margin: 0.5rem;
$navbar-breakpoint: 0;
$footer-background-color: hsl(0, 0%, 100%);
$primary: #FC4C02;
$navbar-item-hover-color: $primary;

@import '~bulma/bulma.sass';
@import '~leaflet-geosearch/dist/geosearch.css';

.box {
  &.activity-list {
    height: 90vh;
    padding: 0.75rem;
    overflow-x: hidden;
    overflow-y: scroll;
    @include mobile {
      height: 60vh;
    }
  }

  &.map {
    height: 90vh;
    padding: 0.75rem;
    margin-bottom: 150px;

    @include mobile {
      height: 83vh;
    }
  }
}

:export {
  primaryColor: $primary;
}
