// Change variables here
$hr-margin: 0.5rem;
$navbar-breakpoint: 0;
$footer-background-color: hsl(0, 0%, 100%);
$primary: #FC4C02;

@import '~bulma/bulma.sass';


.section-padding-mobile {
  @include mobile() {
    padding: 0rem 0.5rem;
  }
}

:export {
  primaryColor: $primary;
}