// Change variables here
$hr-margin: 0.5rem;
$navbar-breakpoint: 0;
$footer-background-color: hsl(0, 0%, 100%);
$primary: #FC4C02;

@import '~bulma/bulma.sass';

.box {
  &.activity-list {
    height: 75vh;
    padding: 0.75rem;
    overflow-x: hidden;
    overflow-y: scroll;
    @include touch {
      height: 60vh;
    }
  }

  &.map {
    height: 75vh;
    padding: 0.75rem;

    @include touch {
      height: 90vh;
    }
  }
}

:export {
  primaryColor: $primary;
}
